
<header class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="index.html">
            <h3><b>MyApp</b></h3>
          </a>
        </div>
        
      </div>
    </div>

</header>
<div style="padding-top: 150px;">
 
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form action="#">
            
            <div class="form-group">
              <input type="text" id="username" [(ngModel)]="username" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password"  id="password" [(ngModel)]="password" class="form-control" placeholder="Password">
              </div>
            
            
            <div class="form-group">
              <input type="submit" (click)="login()" class="btn btn-primary py-3 px-5" value="Login">
            </div>
          </form>  
        </div>
        <div class="col-lg-4 ml-auto">
          
            <strong class="text-white d-block">Welcome </strong>
            <strong class="text-white d-block">to your website</strong>
        </div>
      </div>
    </div>
  </div>

</div>